<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Dashboard - Stock Chantier</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav class="navbar navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Stock Chantier</span>
    </div>
  </nav>
  
  

  <div class="container" style="margin-top: 6rem;">
<div class="mb-4 d-flex flex-wrap gap-2">
  <!-- <a href="/chantier/ajouter" class="btn btn-primary">Ajouter une livraison chantier</a>-->
  <a href="/chantier/ajouterMateriel" class="btn btn-success">Ajouter du matériel dans un chantier</a>
  <!-- Supprime le bouton "Modifier" global ici -->
  <a href="/chantier/ajouter-chantier" class="btn btn-success">Créer un nouveau chantier</a>
  <a href="/chantier/historique" class="btn btn-warning">Voir l'historique chantier</a>
  <a href="/emplacements" class="btn btn-info">Gérer les emplacements</a>

  <a href="/materiel" class="btn btn-secondary">Retour</a>
</div>
    <h1>Inventaire cumulé des livraisons vers chantier</h1>

<form method="GET" action="/chantier" class="row g-3 mb-4">
  <div class="col-md-3">
    <label for="chantierId" class="form-label">Filtrer par chantier</label>
    <select class="form-select" name="chantierId" id="chantierId">
      <option value="">-- Tous les chantiers --</option>
      <% if (chantiers && chantiers.length > 0) { %>
        <% chantiers.forEach(function(c) { %>
          <option value="<%= c.id %>" <%= (c.id == chantierId) ? 'selected' : '' %>><%= c.nom %> - <%= c.localisation %></option>
        <% }); %>
      <% } %>
    </select>
  </div>

  <div class="col-md-3">
    <label for="nomMateriel" class="form-label">Nom du matériel</label>
    <input type="text" class="form-control" name="nomMateriel" id="nomMateriel" value="<%= nomMateriel || '' %>">
  </div>

  <div class="col-md-3">
  <label for="triNom" class="form-label">Trier par nom materiel</label>
  <select class="form-select" name="triNom" id="triNom">
    <option value="">-- Aucun tri --</option>
    <option value="asc" <%= triNom === 'asc' ? 'selected' : '' %>>Nom A → Z</option>
    <option value="desc" <%= triNom === 'desc' ? 'selected' : '' %>>Nom Z → A</option>
  </select>
</div>


  <div class="col-md-3">
  <label for="categorie" class="form-label">Catégorie</label>
  <select class="form-select" name="categorie" id="categorie">
    <option value="">-- Toutes les catégories --</option>
    <option value="Plomberie" <%= categorie === 'Plomberie' ? 'selected' : '' %>>Plomberie</option>
    <option value="Electricité" <%= categorie === 'Electricité' ? 'selected' : '' %>>Electricité</option>
    <option value="Climatisation" <%= categorie === 'Climatisation' ? 'selected' : '' %>>Climatisation</option>
    <option value="Chauffage" <%= categorie === 'Chauffage' ? 'selected' : '' %>>Chauffage</option>
    <option value="Revêtement mural" <%= categorie === 'Revêtement mural' ? 'selected' : '' %>>Revêtement mural</option>
    <option value="Maçonnerie" <%= categorie === 'Maçonnerie' ? 'selected' : '' %>>Maçonnerie</option>
    <option value="Menuiserie" <%= categorie === 'Menuiserie' ? 'selected' : '' %>>Menuiserie</option>
    <option value="Autre" <%= categorie === 'Autre' ? 'selected' : '' %>>Autre</option>
  </select>
</div>


<div class="col-md-3">
  <label for="emplacement" class="form-label">Emplacement</label>
  <select class="form-select" name="emplacement" id="emplacement" style="max-width: 250px;">
    <option value="">-- Tous les emplacements --</option>
    <% if (emplacements && emplacements.length > 0) { %>
      <% emplacements.forEach(function(e) { %>
        <option value="<%= e.nom %>" <%= emplacement === e.nom ? 'selected' : '' %>><%= e.nom %></option>
      <% }); %>
    <% } %>
  </select>
</div>



  <div class="col-md-3">
  <label for="description" class="form-label">Description</label>
  <input type="text" class="form-control" name="description" id="description" value="<%= description || '' %>">
</div>


  <div class="col-12 mt-2">
    <button type="submit" class="btn btn-primary">Appliquer les filtres</button>
    <a href="/chantier" class="btn btn-secondary">Réinitialiser</a>
  </div>
</form>


    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th class="d-none">ID</th>
          <th class="d-none">Chantier</th>
          <th>Matériel</th>
          <th>Photo</th>

          <th>Référence</th>
          <th>Categorie</th>
          <th>Description / Fournisseur</th>
          <th>Emplacement</th>
          <th>Rack</th>
          <th>Compartiment</th>
          <th>Niveau</th>
          <th>Qte</th>

        </tr>
      </thead>
      <tbody>
        <% if (materielChantiers && materielChantiers.length > 0) { %>
          <% materielChantiers.forEach(function(mc){ %>
            <tr>
              <td class="d-none"><%= mc.id %></td>
              <td class="d-none">
                <% if(mc.chantier) { %>
                  <%= mc.chantier.nom %> - <%= mc.chantier.localisation %>
                <% } else { %>
                  N/A
                <% } %>
              </td>
              <td>
                <% if(mc.materiel) { %>
                  <%= mc.materiel.nom %>
                <% } else { %>
                  N/A
                <% } %>
              </td>
                <td>
                    <% if (mc.materiel.photos && mc.materiel.photos.length > 0) { %>
                     <img src="/<%= mc.materiel.photos[0].chemin %>" alt="Photo" width="80">

                    <% } else { %>
                      -
                    <% } %>
                </td>

              <td>
                <% if(mc.materiel) { %>
                  <%= mc.materiel.reference %>
                <% } else { %>
                  -
                <% } %>
              </td>
              <td>
                <% if(mc.materiel) { %>
                  <%= mc.materiel.categorie %>
                <% } else { %>
                  -
                <% } %>
              </td>
              <td>
                <% if(mc.materiel && mc.materiel.description) { %>
                  <%= mc.materiel.description %>
                <% } else { %>
                  -
                <% } %>
              </td>

              <td>
                            <% 
                function afficherChemin(emp) {
                  let chemin = emp.nom;
                  let courant = emp;
                  while (courant.parent) {
                    chemin = courant.parent.nom + " > " + chemin;
                    courant = courant.parent;
                  }
                  return chemin;
                }
              %>

              <% if (mc.materiel && mc.materiel.emplacement) { %>
                <%= afficherChemin(mc.materiel.emplacement) %>
              <% } else { %>
                -
              <% } %>

                            </td>

              <td><%= mc.materiel && mc.materiel.rack ? mc.materiel.rack : '-' %></td>
              <td><%= mc.materiel && mc.materiel.compartiment ? mc.materiel.compartiment : '-' %></td>
              <td><%= mc.materiel && mc.materiel.niveau != null ? mc.materiel.niveau : '-' %></td>


              <td><%= mc.quantite %></td>
              <td>
                <a href="/chantier/materielChantier/modifier/<%= mc.id %>" class="btn btn-warning btn-sm">Modifier</a>
                <!-- Tu peux aussi ajouter un bouton pour supprimer ici -->
                <form action="/chantier/materielChantier/supprimer/<%= mc.id %>" method="POST" style="display:inline;" 
                  onsubmit="return confirm('Voulez-vous vraiment supprimer cet enregistrement ?');">
              <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
            </form>
            <a href="/chantier/materielChantier/dupliquer/<%= mc.id %>" class="btn btn-outline-primary btn-sm">Dupliquer</a>

              </td>
            </tr>
          <% }); %>
        <% } else { %>
          <tr>
            <td colspan="5" class="text-center">Aucune livraison enregistrée pour les chantiers.</td>
          </tr>
        <% } %>
      </tbody>
      
    </table>
    
   

  </div>
  
  <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
